body{ background-color: #caddda}

#wrapper {
    background-color: blue;
    padding-left: 10%;
    padding-right: 10%;
    height: 900px;
    max-width: 600px;
    margin: auto;
}
#registration_text {
    background-color: red;
    text-align: center;
    font: 28px 'Oswald', Arial bold;
    padding: 10px;
}
#input_data {
    margin: 0;
    position: relative;
    top: 5%;
    left: 20%;
}
button{
    position: relative;
    left: 13%;
}
#input_data *{
    margin-top: 9px;
}
