body{ background-color: #caddda}

#wrapper {
    background-color: lightblue;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 600px;
    max-width: 600px;
    margin: auto;
}
#registration_text {
    background-color: #5555ff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    font: 28px 'Oswald', Arial bold;
    padding: 10px;
}

#input_data {
    margin: 0;
    position: relative;
    top: 5%;
    left: 16%;
}
pre{
    background-color: #caddda;
    border: 3px;
    border-color: #a3a3a3;
}
fieldset{
    width: 50%;
    position: relative;
    left: 25%;
}
#back{
    border: solid;
    border-color: #a3a3a3;
    border-radius: 25px;
    margin:10%;
    margin-top:3%;
    margin-bottom:0%;
}
p{
    font-size: 30px;
    padding-top: 5%;
    position: relative;
    left: 40%;
    width: 300px;
}
#next{
    position: relative;
    left: 45%;
    margin-bottom: 2%;
}

fieldset input{
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
button#subButton{
    position: relative;
    left: 13%;
}
button#admin_but{
    position: relative;
    left: 4%;
}
div#find_area{
    position: relative;
    left: 15%;
    top:5%;
}
button{
    position: relative;
    border-radius: 25px;
    left: 13%;
}
#input_data *{
    margin-top: 9px;
    position: relative;
    left:2%;
}
#choose_data *{
    margin-top: 9px;
    position: relative;
    left:17%;
    border-radius: 10px;
}
legend{

}