<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
</head>
<body>
<h1>Expack 1</h1>
<p class="description">Express and Webpack Boilerplate App</p>
<div class="awful-selfie"></div>
<p>Фамилия</p><%=data.firstName%><br>
<p>Имя</p><%=data.secName%><br>
<form id="firstName"  action="/next" method="post">
    <button type="submit">Подтвердить</button>
</form>
</body>
</html>