<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
</head>

<body>
<form action="back" method="get">
    <fieldset id = "form">
        <legend>Your result</legend>
        <p><%=data.result%></p><br>
    </fieldset>
    <button id = "next" type="submit">Вернуться назад</button>
</form>
</body>

</html>