<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page 1</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css"  href="">
    <link rel="stylesheet" href="../css/rPageStyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div id = "back">
<form action="back" method="get">
    <fieldset id = "form">
        <legend>Your result</legend>
        <p><%=data.result%></p><br>
    </fieldset>
    <button id = "next" type="submit">Вернуться назад</button>
</form>
</div>
</body>

</html>